In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end='')
  print()

1
12
123
1234
12345

In [ ]:
for i in range(1,6):
  for j in range(i):
    print(i,end='')
  print()

1
22
333
4444
55555

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end='')
  print()

for k in range(4,0,-1):
  for m in range(1,k+1):
    print(m,end='')
  print()

1
12
123
1234
12345
1234
123
12
1

In [ ]:
for k in range(5,0,-1):
  for m in range(1,k+1):
    print(m,end='')
  print()
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end='')
  print()

12345
1234
123
12
1
1
12
123
1234
12345

In [ ]:
for i in range(1,6):
  for j in range(6-i,0,-1):
    print(j,end='')
  print()
for k in range(1,6):
  for m in range(k,0,-1):
    print(m,end='')
  print()

54321
4321
321
21
1
1
21
321
4321
54321

In [ ]:
for i in range(1,6):
  print(" "*(5-i),end='')
  for j in range(1,i+1):
    print(j,end=' ')
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  print(" "*(5-i),end='')
  for j in range(1,i+1):
    print(j,end='')
  print()

    1
   12
  123
 1234
12345

In [ ]:
for i in range(1,6):
  for j in range(5,i-1,-1):
    print(j,end='')
  print()

54321
5432
543
54
5

In [ ]:
for i in range(1,6):
  for j in range(5,5-i,-1):
    print(j,end='')
  print()

5
54
543
5432
54321

In [ ]:
for i in range(0,5):
  for j in range(1,6-i):
    print(j,end='')
  print()

12345
1234
123
12
1

In [ ]:
n=int(input("Enter a number:"))
i=1
k=1
while i<n:
    j=1
    while j<=i and k<=n:
        print(k,end='')
        j+=1
        k+=1
    i+=1
    print("")

Enter a number:14
1
23
456
78910
11121314

In [ ]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end='')
  print()

1
21
321
4321
54321

In [ ]:
for i in range(1,6):
    for j in (1,i+1):
        print(i,end=" ")
        i+=5
    print()

1 6
2 7
3 8
4 9
5 10

In [ ]:
n=int(input("Enter a no: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i, end=" ")
        i+=5
    print()

Enter a no: 5
1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end='')
  for j in range(i-1,0,-1):
    print(j,end='')
  print()

1
121
12321
1234321
123454321

In [ ]:
for i in range(5,0,-1):
    print(" "*(5-i),end='')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
for i in range(1,6):
  print(" "*(5-i),end='')
  for j in range(1,i+1):
    print(j,end=' ')
  print()
for i in range(4,0,-1):
  print(" "*(5-i),end='')
  for j in range(1,i+1):
    print(j,end=' ')
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
for i in range(5,0,-1):
  print(" "*(i),end='')
  for j in range(5,i-1,-1):
    print(j,end=' ')
  print()

     5
    5 4
   5 4 3
  5 4 3 2
 5 4 3 2 1

In [ ]:
for i in range(1,6):
  print(" "*(i),end='')
  for j in range(5,i-1,-1):
    print(j,end=' ')
  print()
for i in range(5,0,-1):
  print(" "*(i),end='')
  for j in range(5,i-1,-1):
    print(j,end=' ')
  print()

 5 4 3 2 1
  5 4 3 2
   5 4 3
    5 4
     5
     5
    5 4
   5 4 3
  5 4 3 2
 5 4 3 2 1

In [ ]:
for i in range(6,1,-1):
  print(" "*i,end='')
  for j in range(i-1,6):
    print(j,end=' ')
  print()

      5
     4 5
    3 4 5
   2 3 4 5
  1 2 3 4 5

In [ ]:
for i in range(1,6):
  print(" "*(6-i),end='')
  for j in range(1,i+1):
    print(j,end='')
  for j in range(i-1,0,-1):
    print(j,end='')
  print()

     1
    121
   12321
  1234321
 123454321

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j%2,end=' ')
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [ ]:
for i in range(1,6):
  print("1"*(5-i),end='')
  for j in range(1,i+1):
    print(i,end='')
  print()

11111
11122
11333
14444
55555

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print(j,end='')
  for j in range(4,i-1,-1):
    print(j,end='')
  print()

123454321
2345432
34543
454
5

In [ ]:
for i in range(1,6):
  print(" "*(6-i),end='')
  for j in range(1,i+1):
    print(i,end=' ')
  print()

     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5